$black: #000;
$black-2: #2a2a2a;
$black-3: #222222;
$black-12: rgba(0, 0, 0, 0.04);
$black-14: hsla(0, 0%, 0%, 0.849);
$black-15: rgba(0, 0, 0, 0.08);
$black-16: #525455;
$black-19: rgba(42, 42, 42, 0.3);
$black-21: rgba(0, 0, 13, 0.39);
$black-25: rgba(0, 0, 0, 0.16);
$black-26: rgba(0, 0, 0, 0.09);
$black-27: rgba(0, 0, 13, 0.13);
$black-28: rgba(0, 0, 0, 0.08);
$black-29: rgba(0, 0, 10, 0.31);
$black-35: rgba(151, 151, 151, 0.5);
$blue: #2269c9;
$blue-2: #0576c8;
$blue-8: #4CB2FF;
$blue-12: #22878A;
$blue-17: #143f78;
$brown-13: #9c644c;
$gray: #4d4f53;
$gray-7: #777a80;
$gray-10: #5f676f;
$gray-13: #f4f5f7;
$gray-15: #c8c8c8;
$gray-22: #d3d3d3;
$gray-24: #c1c1c1;
$gray-27: #656970;
$gray-31: #e3e3e3;
$gray-44: #656970;
$gray-51: #e6e6e6;
$gray-54: #efefef;
$gray-67: #e8e8e8;
$gray-79: #e1e1e1;
$gray-80: #dadada;
$gray-87: #727272;
$gray-88: #979797;
$gray-89: #e7e7e7;
$gray-91: #f0f0f0;
$gray-99: rgba(218, 218, 218, 0.5);
$gray-100: #dbdbdb;
$gray-103: #d8d8d8;
$gray-104: #a0a0a2;
$gray-107: rgba(114, 114, 114, 0.3);
$gray-112: #ededf1;
$gray-117: rgba(101, 105, 112, 0.15);
$gray-118: #f5f5f5;
$gray-128: #d1d2d4;
$green: #3f6636;
$red-3: #cc1d39;
$red-15: #ff480a;
$white: #fff;
$white-4: rgba(255, 255, 255, 0.15);
$white-5: rgba(255, 255, 255, 0.45);
$white-7: rgba(255, 255, 255, 0.4);
